{% extends 'notes/index.html' %}


{% block content %}
    <p>
        Je m'appelle
        <span class="text-sm text-blue-600">{{ details.nom }}
            {{ details.prenom }}</span>
        niveau
        <span class="text-xl text-red-400">{{ details.niveau }}</span>
        . Je suis né le
        <span class="text-sm text-yellow-700">{{ details.date_naissance }}</span>.


        {% if count != 0 %}
            je suis les matières
            <ul class="list-disc border-dotted bg-slate-700 ">

                {% for mat in matieres %}
                    <li class="text-blue-950">{{ mat }}</li>
                {% endfor %}


            </ul>
        {% else %}
            Je ne suis aucune matière
        {% endif %}


    </p>
{% endblock content %}
